@page
@model IndexModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Merhaba,</h1>
    <p> bu sitede .NET kullanarak Acı sözlük adını verdiğimiz projeyi yapacağız.</p>
    <br>
    <h2><b> Grup üyeleri</b></h2>
    <p> 171419005 - AdemSoner </p>
    <p> 170419018 - Ahmet Melih Korkmaz </p>
    <p> 170419503 - Cumali Atalan </p>
    <p> 170419044 - Nurullah Reis </p>
    <h3> CRUD</h3>
    <p> Create: Kullanıcı kayıt olabiliyor. Yeni konu-başlık açabiliyor.</p>
    <p> Read: Konuları-başlıkları görüntülemek.</p>
    <p> Update: Mevcut konuyu veya yorumu düzenleyebilir.</p>
    <p> Delete: Konuyu kapatabilir veya tamamen silebilir.</p>
</div>
